BankClient/Service References/BankService/BankService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BSRBank" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BSRBank" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAccountEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountEntry" nillable="true" type="tns:AccountEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountEntry" nillable="true" type="tns:ArrayOfAccountEntry" />
  <xs:complexType name="AccountEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountEntry" nillable="true" type="tns:AccountEntry" />
  <xs:complexType name="ArrayOfOperationEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OperationEntry" nillable="true" type="tns:OperationEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOperationEntry" nillable="true" type="tns:ArrayOfOperationEntry" />
  <xs:complexType name="OperationEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Destination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationEntry" nillable="true" type="tns:OperationEntry" />
</xs:schema>