BankClient/Service References/BankService/BankService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BankService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://schemas.microsoft.com/ws/2005/02/mex/bindings" location="http://localhost:21327/BankService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:21327/BankService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:21327/BankService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:21327/BankService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BSRBank" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBankService_GetBankNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBankNumber" />
  </wsdl:message>
  <wsdl:message name="IBankService_GetBankNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBankNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IBankService_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_GetAccountsNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsNumbers" />
  </wsdl:message>
  <wsdl:message name="IBankService_GetAccountsNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_GetAccountHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountHistory" />
  </wsdl:message>
  <wsdl:message name="IBankService_GetAccountHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_TransferRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:TransferRequest" />
  </wsdl:message>
  <wsdl:message name="IBankService_TransferRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransferRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_CreateNewAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewAccount" />
  </wsdl:message>
  <wsdl:message name="IBankService_CreateNewAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="IBankService">
    <wsdl:operation name="GetBankNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/GetBankNumber" message="tns:IBankService_GetBankNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/GetBankNumberResponse" message="tns:IBankService_GetBankNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/LogIn" message="tns:IBankService_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/LogInResponse" message="tns:IBankService_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountsNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/GetAccountsNumbers" message="tns:IBankService_GetAccountsNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/GetAccountsNumbersResponse" message="tns:IBankService_GetAccountsNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/GetAccountHistory" message="tns:IBankService_GetAccountHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/GetAccountHistoryResponse" message="tns:IBankService_GetAccountHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TransferRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/TransferRequest" message="tns:IBankService_TransferRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/TransferRequestResponse" message="tns:IBankService_TransferRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/CreateNewAccount" message="tns:IBankService_CreateNewAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/CreateNewAccountResponse" message="tns:IBankService_CreateNewAccount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="BankService">
    <wsdl:port name="MetadataExchangeHttpBinding_IBankService" binding="i0:MetadataExchangeHttpBinding_IBankService">
      <soap12:address location="http://localhost:21327/BankService.svc/mex" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:21327/BankService.svc/mex</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>